/miranda
/dist/
/data/*.db
/data/*.db-*
/data/storage/*
!/data/storage/.gitkeep
/data/memory/*.md
!/data/memory/.gitkeep
/config/config.yaml
/.env
/logs/
.DS_Store
.idea/
*.log
/bin/
__pycache__/
*.pyc
